*.class
.svn/*
target/*
.settings/*
.classpath
.project
*.jar
*.war
*.ear
.gradle/*

.idea/*
*.iml
*.iws
*.csv
*.ipr
.DS_Store
out/*
**/build/**
classes/*
*.swp
.lock
.log
*.tar.gz
**/data/**
**/logs/**
!docker/cluster/bin
!gradle/wrapper/gradle-wrapper.jar